version: "3.4"
services:
  app:
    container_name: app
    restart: always
    build: .
    ports:
      - 80:80
    depends_on:
      - mongo
      - nginx
  mongo:
    container_name: mongo
    image: mongo
    volumes:
      - ./data:/data/db
    ports:
      - 27017:27017
  nginx:
    container_name: nginx
    image: nginx
    restart: always
    volumes:
      - ./nginxConfig:/etc/nginx/nginx.conf